html { height:100%; font-family: Lato, Arial, Sans-Serif; background-color:#7db9e8;}
body {  min-height:100%; margin:0; background: background: #e0e0e0; -moz-linear-gradient(top,  #e0e0e0 0%, #7db9e8 100%);background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#7db9e8));background: -webkit-linear-gradient(top,  #e0e0e0 0%,#7db9e8 100%);background: -o-linear-gradient(top,  #e0e0e0 0%,#7db9e8 100%);background: -ms-linear-gradient(top,  #e0e0e0 0%,#7db9e8 100%);background: linear-gradient(to bottom,  #e0e0e0 0%,#7db9e8 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#7db9e8',GradientType=0 );}

#wrapper { width: 550px; min-height:100%; margin:3px 8px;}
#wrapper.loading { display:none; }
#header { color:#66afe8; width:100%; height:225px; background-image:url(img/header.png); background-position: top center; background-repeat:no-repeat; }
#header p { line-height:60px; padding-top:165px; font-size:30px; text-align:center; font-weight:900; text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }

.content { background-color:#1a1a1a; font-size:10pt; padding:3px 15px; border-radius:14px; background:#efefef; color:#1a1a1a; border:1px solid #202020;}


.dog { background-color:#1a1a1a; width:100%; margin:26px 0; height:525px; line-height:40px; font-size:26px; border-radius:14px; cursor:pointer; -webkit-transition: height 0.4s ease-out;-moz-transition: height 0.4s ease-out; -ms-transition: height 0.4s ease-out; transition: height 0.4s ease-out; border:1px solid #1a1a1a; background-color:#d51820; }


.dog.collapsed { height:40px; }

/* Custom Dog Heights */
.dog.marley { height:550px; }
.dog.sadie { height:460px; }
.dog.sushi, .dog.sonic, .dog.mako, .dog.cabo, .dog.rybo, .dog.donzi, .dog.parker, .dog.whaler, .dog.topaz, .dog.albie, .dog.trouble { height:380px; }
.dog.grady { height: 475px; }
.dog.waldo { height: 400px; }
.dog.pac { height: 470px;}
#wrapper .dog.collapsed { height: 40px;}

.dog .dogHeading { background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #b91820 10px, #b91820 20px); padding:0 10px; border-radius:14px; }
.dog:not(.collapsed) .dogHeading { border-bottom:1px solid #b91820; border-bottom-left-radius:0px; border-bottom-right-radius:0px; transition-delay: .2s; }
.dog.alumni .dogHeading { text-align: right; }

.dog .badge { width:300px; height:300px; float:left; border-radius:30px; overflow:hidden; margin-top:50px; margin-right:7px; cursor:pointer;-webkit-transition: all 1.2s ease-out;-moz-transition:all 0.4s ease-out; -ms-transition:all 0.4s ease-out; transition: all .4s ease-out; border:1px solid #1a1a1a;}

.dog.alumni .badge { float:right; margin-left: 7px;}

.dog.collapsed .badge { width:60px; height:60px; margin-top:-10px; }
.dog .badge img { width:100%; height:100%; }
.dog .description { height:auto; font-size:12px; opacity:1;line-height:20px; -webkit-transition:opacity .5s linear; -moz-transition:opacity .5s linear; -ms-transition:opacity .5s linear; transition:opacity .5s linear;-webkit-transition-delay: .5s; margin:10px;}
.dog.collapsed .description { height:5px; overflow:hidden; opacity: 0; -webkit-transition:opacity .3s linear; -moz-transition:opacity .3s linear; -ms-transition:opacity .3s linear; transition: opacity .3s linear; }


/* mobile junk */
#wrapper.mobile { width: 100%; }
#wrapper.mobile div { font-size: 2em; }
#wrapper.mobile .dog.collapsed { height: 80px; line-height:80px;}
#wrapper.mobile .dog.collapsed .badge { width:100px; height:100px; border-radius:60px; }
#wrapper.mobile .dog { height:1500px;}
#wrapper.mobile .dog .description { font-size: 1.5em; line-height:1.1em; }
#wrapper.mobile .dog #header p { line-height:120px; }
#wrapper.mobile .dog .dogHeading { height: 80px; line-height:80px; }

/* Mobile Custom Dog Height */
#wrapper.mobile .dog.marley { height:2000px; }
#wrapper.mobile .dog.sadie { height:1400px; }
#wrapper.mobile .dog.sushi, #wrapper.mobile .dog.sonic, #wrapper.mobile .dog.parker, #wrapper.mobile .dog.albie { height:1050px; }
#wrapper.mobile .dog.lucas { height: 1750px; }
#wrapper.mobile .dog.shamrock { height:1600px; }
#wrapper.mobile .dog.junior { height: 1675px; }
#wrapper.mobile .dog.grady { height: 1500px; }
#wrapper.mobile .dog.waldo { height: 1150px; }
#wrapper.mobile .dog.mako { height:900px;}
#wrapper.mobile .dog.cabo { height: 775px;}
#wrapper.mobile .dog.pac { height: 1500px;}
#wrapper.mobile .dog.rybo { height: 950px; }
#wrapper.mobile .dog.donzi, #wrapper.mobile .dog.topaz { height: 675px; }
#wrapper.mobile .dog.parker { height:675px; }
#wrapper.mobile .dog.whaler { height:925px; }
#wrapper.mobile .dog.trouble { height:725px; }

#wrapper.mobile .dog.collapsed { height: 80px;}


/* Gallery CSS */

#gallery { height: 25px; width:540px; margin:0 5px; line-height:25px; font-size:20px; color:black; text-align:center; background:white; position:absolute; -webkit-transition: height .75s ease-in; -moz-transition: height .75s ease-in; -ms-transition: height .75s ease-in; transition: height .75s ease-in;-webkit-border-bottom-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-moz-border-radius-bottomright: 8px;-moz-border-radius-bottomleft: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;border:1px solid black; border-top:none;}

#gallery:before { content: 'Click For Gallery';}
#wrapper.mobile #gallery:before { content: 'Tap For Gallery';}

#gallery.expanded { height: 450px;  -webkit-transition: height .45s ease-in; -moz-transition: height .45s ease-in; -ms-transition: height .45s ease-in; transition: height .45s ease-in;}
#gallery.expanded img { max-width:500px; margin:20px 10px; overflow:hidden; max-height:400px; opacity: 1; -webkit-transition: opacity .5s linear; -moz-transition: opacity .5s linear; -ms-transition: opacity .5s linear; transition: opacity .5s linear; }

#gallery.expanded img.fadeout { opacity:.01; transition: opacity .5s linear; }
#gallery.expanded:before { content: 'Click to Return To Index'; }
#gallery.expanded:after { content: 'Images will automatically rotate'; font-size:10pt; }
#wrapper.mobile #gallery.expanded:before { content: 'Tap to Return To Index'; }